<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if request.user.profile.job == 'staff' %}
    <h3>所有课程：</h3>
    {% for all_cours in all_courses %}
        <h4>{{ all_cours.name }}</h4>
    {% endfor %}
    {% for course in courses %}
        {{ course.name }}
        <a href="{% url 'course_edit' course.id %}">修改课程</a>
        <p>开始时间：{{ course.starttime }}</p>
        <p>结束时间：{{ course.endtime }}</p>
        <p><a href="{% url 'course_delete' course.id %}">删除课程</a></p>
    {% endfor %}
    <h3><a href="{% url 'create_course' %}">添加课程</a></h3>
{% else %}
    <h3>所有课程：</h3>
    {% for all_cours in all_courses %}
        <h4><a href="{% url 'course_detail' all_cours.id %}">{{ all_cours.name }}</a></h4>
        <h5>共有{{ all_cours.students.count }}个学生</h5>
    {% endfor %}
    {% for course in courses %}
        {{ course.name }}
        <a href="{% url 'course_delete_stu' course.id %}">取消</a>
        <p>开始时间：{{ course.starttime }}</p>
        <p>结束时间：{{ course.endtime }}</p>
    {% endfor %}
{% endif %}
</body>
</html>